
<html lang="ja">
  <head>    
    <meta charset="utf-8">
    <title>controller</title>
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="user-scalable=no">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  
  <body>    
    
    <script type="text/javascript" src="http://<%= ipaddr %>/trybots_controller/jquery.min.js"></script>
    <div class="main">
      <div class="controller" id="test">
        
        <div class="forward">
	  
          <button id="forward">前進</button>
        </div><!--forward-->
        
        <div class="turn">
          <button id="left">左旋回</button>
          <button id="dive">潜水</button>
          <button id="right">右旋回</button>
        </div><!--turn-->

        <h4>前進時パラメーター</h4>
        <div class="parameter_forward">
          <div class="box">
            <h6>頭部モーター</h6>
            <form>
              <select id="select_head" name="頭部モーター可動範囲(デフォルト推奨)">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>尻尾モーター</h6>
            <form>
              <select id="select_tail" name="尻尾モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>足モーター</h6>
            <form>
              <select id="select_foot" name="足モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
        </div><!--parameter_forward-->

        
        <h4>潜水時パラメーター</h4>
        <div class="parameter_dive">
          <div class="box">
            <h6>頭部モーター</h6>
            <form>
              <select id="select_head" name="頭部モーター可動範囲(デフォルト推奨)">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>尻尾モーター</h6>
            <form>
              <select id="select_tail" name="尻尾モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>足モーター</h6>
            <form>
              <select id="select_foot" name="足モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
        </div><!--parameter-->

        <h4>左旋回パラメーター</h4>
        <div class="parameter_left">
          <div class="box">
            <h6>頭部モーター</h6>
            <form>
              <select id="select_head" name="頭部モーター可動範囲(デフォルト推奨)">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>尻尾モーター</h6>
            <form>
              <select id="select_tail" name="尻尾モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>足モーター</h6>
            <form>
              <select id="select_foot" name="足モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
        </div><!--parameter-->
        
        <h4>右旋回パラメーター</h4>
        <div class="parameter_right">
          <div class="box">
            <h6>頭部モーター</h6>
            <form>
              <select id="select_head" name="頭部モーター可動範囲(デフォルト推奨)">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>尻尾モーター</h6>
            <form>
              <select id="select_tail" name="尻尾モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
          <div class="box">
            <h6>足モーター</h6>
            <form>
              <select id="select_foot" name="足モーター可動範囲">
              </select>
            </form>
          </div><!--box-->
          
        </div><!--parameter-->

        
        <button id="set">設定</button>
      </div><!--controller-->
      
      <div class="debug">
        <div id="log">
          
        </div><!--log-->
      </div><!--debug-->
    </div><!-- main-->
  </body>
  
  <style>
      body{
      background-color:black;
      height:auto;
      }
      
      p{
      color:white;
      }
      
      h4{
      text-align:center;
      color:#3FF;

      margin:10px;
      }

      h6{
      color:white;
      text-align:center;
      padding:0px;
      margin:0px;
      }
      
      h5{
      padding:0px;
      margin:0;
      }
      
      .controller{
      padding:0px;
      float:left;
      width:50%;
      height:auto;
      }
      
      .debug{
      float:right;
      width:50%;
      height:auto;
      color:white;
      }
      
      .forward{
      padding:15px;
      }
      
      .turn{
      padding:15px;
      }
      
      select{
      width:150px;
      height:20px;
      font-weight:bold;
      font-size:15px;
      
      }
      
      #log{
      margin-top:15px;
      border: 3px solid #3FF;
      overflow:scroll;
      }
      
      .box{
      text-align:center;
      display:table-cell;
      }
      
      button{
      border-width:3px;
      border-color:#3FF;
      background-color:black;
      color:white;
      font-size:100%;
      }
      
      button .send{
      background-color:white;
      }
      
      button:active{
      background-color:white;
      color:black;
      }
          
  </style>
<script>

//サーボモーターの可動範囲を設定
//-------------------------------
for(var i=2;i<=12;i++){
    $('.parameter_forward #select_head').append($('<option>').html(i).val(i));
}

for(var i=2;i<=12;i++){
    $('.parameter_forward #select_tail').append($('<option>').html(i).val(i));
}

for(var i=2;i<=12;i++){
    $('.parameter_forward #select_foot').append($('<option>').html(i).val(i));
}

//-------------------------------
for(var i=2;i<=12;i++){
    $('.parameter_dive #select_head').append($('<option>').html(i).val(i));

}

for(var i=2;i<=12;i++){
    $('.parameter_left #select_head').append($('<option>').html(i).val(i));

}

for(var i=2;i<=12;i++){
    $('.parameter_right #select_head').append($('<option>').html(i).val(i));

}
//-------------------------------
for(var i=2;i<=12;i++){
    $('.parameter_dive #select_tail').append($('<option>').html(i).val(i));

}

for(var i=2;i<=12;i++){
    $('.parameter_left #select_tail').append($('<option>').html(i).val(i));

}

for(var i=2;i<=12;i++){
    $('.parameter_right #select_tail').append($('<option>').html(i).val(i));

}
//-------------------------------
for(var i=2;i<=12;i++){
    $('.parameter_dive #select_foot').append($('<option>').html(i).val(i));
}

for(var i=2;i<=12;i++){
    $('.parameter_left #select_foot').append($('<option>').html(i).val(i));
}

for(var i=2;i<=12;i++){
    $('.parameter_right #select_foot').append($('<option>').html(i).val(i));
}
//--------------------------------

//パラメーター情報
var parameter         = io.connect('http://<%= ipaddr %>:1337/parameter');
//パラメーター初期値情報
var default_parameter = io.connect('http://<%= ipaddr %>:1337/default_parameter');
//指令情報
var signal            = io.connect('http://<%= ipaddr %>:1337/signal');

default_parameter.emit("initial","initial");
default_parameter.on("default_text",function(data){
    $("#log").append($('<h5>').text("default parameter received"));
    $("#log").append($('<h5>').text(data));
    var data=JSON.parse(data);
    console.log(data);

    //初期値の設定
    $('.parameter_forward #select_head').val(data.forward_head);
    $('.parameter_forward #select_tail').val(data.forward_tail);
    $('.parameter_forward #select_foot').val(data.forward_foot);
    $('.parameter_dive #select_head').val(data.dive_head);
    $('.parameter_dive #select_tail').val(data.dive_tail);
    $('.parameter_dive #select_foot').val(data.dive_foot);
    $('.parameter_left #select_head').val(data.left_head);
    $('.parameter_left #select_tail').val(data.left_tail);
    $('.parameter_left #select_foot').val(data.left_foot);
    $('.parameter_right #select_head').val(data.right_head);
    $('.parameter_right #select_tail').val(data.right_tail);
    $('.parameter_right #select_foot').val(data.right_foot);
});

$("#forward").mousedown(function(e){
    console.log("forward clicked");
    var date=new Date()
    signal.emit("signal",1);
    $("#log").append($('<h5>').text(date+" : forward (signal=1)"));

});

$("#left").mousedown(function(e){
    console.log("left clicked");
    var date=new Date()
    signal.emit("signal",2);
    $("#log").append($('<h5>').text(date+" : left (signal=2)"));
});

$("#dive").mousedown(function(e){
    console.log("dive clicked");
    var date=new Date()
    signal.emit("signal",3);
    $("#log").append($('<h5>').text(date+" : dive (signal=3)"));
});


$("#right").mousedown(function(e){
    console.log("right clicked");
    var date=new Date()
    signal.emit("signal",4);
    $("#log").append($('<h5>').text(date+" : right (signal=4)"));
});

//パラメーターをサーバーに送信
$("#set").mousedown(function(e){
		var param={
                forward_head:$('.parameter_forward #select_head').val(),
 	        forward_tail:$('.parameter_forward #select_tail').val(),
	        forward_foot:$('.parameter_forward #select_foot').val(),
	        dive_head:$('.parameter_dive #select_head').val(),
	        dive_tail:$('.parameter_dive #select_tail').val(),
	        dive_foot:$('.parameter_dive #select_foot').val(),
	        left_head:$('.parameter_left #select_head').val(),
	        left_tail:$('.parameter_left #select_tail').val(),
	        left_foot:$('.parameter_left #select_foot').val(),
	        right_head:$('.parameter_right #select_head').val(),
	        right_tail:$('.parameter_right #select_tail').val(),
	        right_foot:$('.parameter_right #select_foot').val()};

    parameter.json.emit("message",param)
    $("#log").append($('<h5>').text("ファイルに設定を書き込みます"));
    $("#log").append($('<h5>').text(JSON.stringify(param)));

});

var width=$('.controller').width();
var height=$('body').height();
console.log("width : "+width);
console.log("height : "+height);
$("#forward").css({'width':width/6,'height':width/6,'margin-left':width*5/12-15,'padding':'0px'});
$("#left").css({'width':width/6,'height':width/6,'margin-left':width/8-15});
$("#dive").css({'width':width/6,'height':width/6,'margin-left':width/8});
$("#right").css({'width':width/6,'height':width/6,'margin-left':width/8});
$("#log").css({'width':width*0.9,'height':height});
$(".box").css({'width':width/3});
$("#set").css({'width':width/3,'height':'40px','margin-left':width/3+6,'margin-top':'20px'});


</script>    

</html>

